<!--
    MAINTAINER: Yuchong Pan
    EMAIL:      panyuchong@gmail.com
-->

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <if(data.lang==="en")><title>hack.init() | Register</title></if>
        <if(data.lang==="zh")><title>hack.init() | 注册</title></if>
        <link rel="icon" href="/s/img/favicon.ico">

        <!-- CSS -->
        <link rel="stylesheet" href="/s/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/s/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/s/lib/alertify/css/alertify.css">
        <link rel="stylesheet" href="/s/css/register-styles.css">
        <link rel="stylesheet" href="/s/css/font.css">
        <!-- /CSS -->
    </head>

    <body>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-93677768-5', 'auto');
          ga('send', 'pageview');

        </script>

        <!-- HEADER -->
        <nav id="navbar-container" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <if(data.lang==="en")>
                        <a class="navbar-brand navbar-brand-logo" href="/">
                            <img alt="Brand" src="/s/img/favicon.ico">
                        </a>
                        <a class="navbar-brand navbar-brand-text" href="/">
                            hack.init()
                        </a>
                    </if>
                    <if(data.lang==="zh")>
                        <a class="navbar-brand navbar-brand-logo" href="/zh">
                            <img alt="Brand" src="/s/img/favicon.ico">
                        </a>
                        <a class="navbar-brand navbar-brand-text" href="/zh">
                            hack.init()
                        </a>
                    </if>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <if(data.lang==="en")>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a data-toggle="collapse" data-target="#navbar.in" href="/team">OUR TEAM</a></li>
                            <!--
                            <li><a data-toggle="collapse" data-target="#navbar.in" href="/login">LOG IN</a></li>
                            -->
                            <li><a data-toggle="collapse" data-target="#navbar.in" href="/zh/register">简体中文</a></li>
                        </ul>
                    </if>
                    <if(data.lang==="zh")>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a data-toggle="collapse" data-target="#navbar.in" href="/zh/team">我们的团队</a></li>
                            <!--
                            <li><a data-toggle="collapse" data-target="#navbar.in" href="/zh/login">登录</a></li>
                            -->
                            <li><a data-toggle="collapse" data-target="#navbar.in" href="/register">ENGLISH</a></li>
                        </ul>
                    </if>
                </div>
            </div>
        </nav>
        <!-- /HEADER -->

        <!-- MAIN -->
        <div id="register-container" class="container">
            <div class="row title-row">
                <div class="col-xs-12">
                    <div class="horizontal-center">
                        <if(data.lang==="en")><h1>Hi, Welcome!</h1></if>
                        <if(data.lang==="zh")><h1>嗨，欢迎！</h1></if>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form-field">
                    <div class="input-group">
                        <span class="input-group-addon" id="name-addon">
                            <i class="fa fa-id-card"></i>
                        </span>
                        <div class="row" id="name">
                            <div class="col-xs-6 left-half">
                                <if(data.lang==="en")>
                                    <input type="text" class="form-control" id="first-name" autocomplete="off" placeholder="First Name" aria-describedby="name-addon" v-model="firstName" @input="validateRequiredField(firstName, '#first-name')" @blur="validateRequiredField(firstName, '#first-name')" @keyup.enter="firstNameEntered()">
                                </if>
                                <if(data.lang==="zh")>
                                    <input type="text" class="form-control" id="first-name" autocomplete="off" placeholder="名" aria-describedby="name-addon" v-model="firstName" @input="validateRequiredField(firstName, '#first-name')" @blur="validateRequiredField(firstName, '#first-name')" @keyup.enter="firstNameEntered()">
                                </if>
                            </div>
                            <div class="col-xs-6 right-half">
                                <if(data.lang==="en")>
                                    <input type="text" class="form-control" id="last-name" autocomplete="off" placeholder="Last Name" aria-describedby="name-addon" v-model="lastName" @input="validateRequiredField(lastName, '#last-name')" @blur="validateRequiredField(lastName, '#last-name')" @keyup.enter="lastNameEntered()">
                                </if>
                                <if(data.lang==="zh")>    
                                    <input type="text" class="form-control" id="last-name" autocomplete="off" placeholder="姓" aria-describedby="name-addon" v-model="lastName" @input="validateRequiredField(lastName, '#last-name')" @blur="validateRequiredField(lastName, '#last-name')" @keyup.enter="lastNameEntered()">
                                </if>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form-field">
                    <div class="input-group">
                        <span class="input-group-addon" id="email-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <if(data.lang==="en")>
                            <input type="email" class="form-control" id="email" aria-describedby="email-addon" placeholder="Email" v-model="email" @input="validateEmail(email)" @blur="validateEmail(email)" @keyup.enter="emailEntered()">
                        </if>
                        <if(data.lang==="zh")>
                            <input type="email" class="form-control" id="email" aria-describedby="email-addon" placeholder="邮箱" v-model="email" @input="validateEmail(email)" @blur="validateEmail(email)" @keyup.enter="emailEntered()">
                        </if>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form-field">
                    <div class="input-group">
                        <span class="input-group-addon" id="password-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        <if(data.lang==="en")>
                            <input type="password" class="form-control" id="password" aria-describedby="password-addon" placeholder="Password" v-model="password" @input="validatePassword(password)" @blur="validatePassword(password)" @keyup.enter="passwordEntered()">
                        </if>
                        <if(data.lang==="zh")>
                            <input type="password" class="form-control" id="password" aria-describedby="password-addon" placeholder="密码" v-model="password" @input="validatePassword(password)" @blur="validatePassword(password)" @keyup.enter="passwordEntered()">
                        </if>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form-field">
                    <div class="input-group">
                        <span class="input-group-addon" id="confirm-password-addon">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <if(data.lang==="en")>
                            <input type="password" class="form-control" id="confirm-password" aria-describedby="confirm-password-addon" placeholder="Confirm Password" v-model="confirmPassword" @input="validateConfirmPassword()" @blur="validateConfirmPassword()" @keyup.enter="userRegister()">
                        </if>
                        <if(data.lang==="zh")>
                            <input type="password" class="form-control" id="confirm-password" aria-describedby="confirm-password-addon" placeholder="确认密码" v-model="confirmPassword" @input="validateConfirmPassword()" @blur="validateConfirmPassword()" @keyup.enter="userRegister()">
                        </if>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 register-btn-col">
                    <div class="horizontal-center">
                        <if(data.lang==="en")><a type="button" id="register-btn" class="btn btn-primary btn-lg" @click="userRegister()")>Register</a></if>
                        <if(data.lang==="zh")><a type="button" id="register-btn" class="btn btn-primary btn-lg" @click="userRegister()">注册</a></if>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <if(data.lang==="en")>
                        <div class="horizontal-center login-link">
                            <p>Already have an account?</p>
                            <p>Click <a href="/login">here</a> to login!</p>
                        </div>
                    </if>
                    <if(data.lang==="zh")>
                        <div class="horizontal-center login-link">
                            <p>已经有账户？</p>
                            <p>点击<a href="/zh/login">这里</a>登录！</p>
                        </div>
                    </if>
                </div>
            </div>
        </div>
        <!-- /MAIN -->

        <!-- FOOTER -->
        <div id="footer-container" class="container-fluid darkgrey-background">
            <div class="row">
                <if(data.lang==="en")>
                    <div class="col-xs-12 footer">
                        <div class="horizontal-center">
                            <p><i class="fa fa-copyright"></i> hack.init() 2017</p>
                            <p>Content licensed under <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>. <a target="_blank" href="https://github.com/hackinit/hackinit.io">Open Source</a>.</p>
                            <p><a target="_blank" href="/s/doc/Code-of-Conduct.pdf">Code of Conduct</a></p>
                        </div>
                    </div>
                </if>
                <if(data.lang==="zh")>
                    <div class="col-xs-12 footer">
                        <div class="horizontal-center">
                            <p><i class="fa fa-copyright"></i> hack.init() 2017</p>
                            <p>本网站内容根据<a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">“署名-相同方式共享”</a>的许可方式发布。<a target="_blank" href="https://github.com/hackinit/hackinit.io">网站开源</a>。</p>
                            <p><a target="_blank" href="/s/doc/Code-of-Conduct.pdf">选手行为守则</a></p>
                        </div>
                    </div>
                </if>
            </div>
        </div>
        <!-- /FOOTER -->

        <!-- JAVASCRIPT -->
        <script src="/s/lib/jquery/jquery-3.1.1.min.js"></script>
        <script src="/s/lib/vue/vue.min.js"></script>
        <script src="/s/lib/vue/vue-resource.min.js"></script>
        <script src="/s/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/s/lib/alertify/js/alertify.js"></script>
        <script src="/s/js/register-controller.js"></script>
        <!-- /JAVASCRIPT -->
    </body>
</html>
