<!--
    MAINTAINER: Yuchong Pan
    EMAIL: panyuchong@gmail.com
-->

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>THE Hack - ${data.title}</title>
        <link rel="icon" href="/s/img/shared/favicon.ico">

        <!-- CSS -->
        <link rel="stylesheet" href="//s3.cn-north-1.amazonaws.com.cn/thehack/web-assets/css/shared/font.css">
        <link rel="stylesheet" href="//s3.cn-north-1.amazonaws.com.cn/thehack/web-assets/lib/bootstrap/css/bootstrap.min.css">

        <include(input.css)/>
        <!-- /CSS -->
    </head>

    <body>
        <include(input.body)/>

        <!-- JAVASCRIPT -->
        <script src="//s3.cn-north-1.amazonaws.com.cn/thehack/web-assets/lib/jquery/jquery-3.1.1.min.js"></script>
        <script src="//s3.cn-north-1.amazonaws.com.cn/thehack/web-assets/lib/vue/vue.min.js"></script>
        <script src="//s3.cn-north-1.amazonaws.com.cn/thehack/web-assets/lib/vue/vue-resource.min.js"></script>
        <script src="//s3.cn-north-1.amazonaws.com.cn/thehack/web-assets/lib/bootstrap/js/bootstrap.min.js"></script>

        <include(input.javascript)/>
        <!-- /JAVASCRIPT -->
    </body>
</html>
