<include("./../../components/layout.marko", data)>

<@body>
  <div class="container" id="sponsor-portal">
    <div class="row">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#" v-on:click="switchTo('hackinit')">${data.hackInitName}</a>
        </li>
        <li>
          <a class="nav-link" href="#" v-on:click="switchTo('hackshanghai')">${data.hackShanghaiName}</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <th scope="col">#</th>
          <th scope="col">${data.nameTitle}</th>
          <th scope="col">${data.emailTitle}</th>
          <th scope="col">${data.schoolTitle}</th>
          <th scope="col">${data.resumeTitle}</th>
        </thead>
        <tbody>
          <tr v-for="(user, index) in currentUsers">
            <th scope="row">{{index + 1}}</th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.school}}</td>
            <td>{{user.resume}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="alert alert-warning" role="alert" v-if="currentUsers.length == 0">
        ${data.unselectedText}
      </div>
    </div>
  </div>
</@body>

<@javascript>
  <script src="//static.thehack.org.cn/js/thehack/resumes/controller.js"></script>
</@javascript>

</include>
