body {
    font-family: 'Lato';
}

.darkgrey-background {
    background-color: #252525;
}

.horizontal-center {
    text-align: center;
}

.navbar-brand-logo {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand-logo img {
    width: 40px;
}

.navbar-brand-text {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -15px;
    line-height: 20px;
}

.resume-table-wrapper {
    margin-top: 70px;
}

.resume-table-wrapper table {
    text-align: left;
}

.footer {
    color: #888;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer p {
    margin-bottom: 5px;
}

.footer p a, .footer p a:hover {
    color: white;
    text-decoration: none;
}
