<include("./../../components/layout.marko", data)>

<@css>
    <link rel="stylesheet" href="//static.hackinit.org/css/shared/coming-soon/styles.css">
</@css>

<@body>
    <div class="full-height full-width">
        <include("./../../components/header.marko", data)></include>
        <div id="team" class="container">
            <div class="row">
                <div class="col-xs-12 horizontal-center">
                    <h2>The <b>hack.init()</b> Team</h2>
                </div>
            </div>
            <div class="row content-text">
                <div class="col-xs-12">
                    <div>
                        <p>The <b>hack.init()</b> Hackathon was founded in Philadelphia in January 2017. We at <b>hack.init()</b> love technology and devote ourselves to providing young hackers with a feast of creativity, collaboration and rapid learning.</p>
                        <p>The masterminds behind <b>hack.init()</b> are a team of around 40 skilled college and high school students coming from various backgrounds and from different geolocations around the world.</p>
                        <p>In pursuit of promoting STEM education, we are confident to deliver our message loud and clear: "this hackathon is for everyone; all you need to bring is passion in learning and making."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</@body>

</include>
