.coming-soon.container {
    position: relative;
    height: 100vh;
}

.coming-soon.col {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

img.coming-soon {
    width: 100%;
}
