<include("./../../components/layout.marko", data)>

<@css>
    <link rel="stylesheet" href="/s/css/coming-soon/styles.css">
</@css>

<@body>
    <div class="container coming-soon">
        <div class="row">
            <div class="col-xs-12 col coming-soon">
                <div class="horizontal-center">
                    <img class="coming-soon" alt="hack.init() Coming Soon..." src="/s/img/coming-soon/coming-soon.gif">
                </div>
            </div>
        </div>
    </div>
</@body>

</include>
