<include("./../../components/layout.marko", data)>

<@css>
    <link rel="stylesheet" href="/s/css/coming-soon/styles.css">
</@css>

<@body>
    <div id="coming-soon-container" class="container coming-soon-container">
        <div class="row">
            <div class="col-xs-12 coming-soon-col">
                <div class="horizontal-center">
                    <img id="coming-soon" alt="hack.init() Coming Soon..." src="/s/img/coming-soon/coming-soon.gif">
                </div>
            </div>
        </div>
    </div>
</@body>
