<include("./../../components/layout.marko", data)>

<@css>
    <link rel="stylesheet" href="//s3.cn-north-1.amazonaws.com.cn/thehackcss/shared/coming-soon/styles.css">
</@css>

<@body>
<include("./../../components/header.marko", data)></include>
    <div class="container coming-soon">
        <div class="row">
            <div class="col-xs-12 col coming-soon">
                <div class="horizontal-center">
                    <img class="coming-soon" alt="Coming Soon..." src="//s3.cn-north-1.amazonaws.com.cn/thehackimg/shared/coming-soon/coming-soon.gif">
                </div>
            </div>
        </div>
    </div>
</@body>

</include>
