<div class="ui top attached segment">

  <div class="ui header">
    {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
    <span
      ng-show="selectedUser.admin">
      (Admin)
    </span>
  </div>

</div>

<div class="ui bottom attached segment">

  <div>
    <p>
      <strong> Status: </strong>
      <span
        class="ui label">
        {{selectedUser.status.name.toUpperCase()}}
      </span>
    </p>
    <p>
      <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
    </p>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        基本信息
      </div>

      <div class="field">
        <strong>
          创建于：
        </strong>
        {{formatTime(selectedUser.timestamp)}}
      </div>

      <div class="field">
        <strong>
          最后更新于：
        </strong>
        {{formatTime(selectedUser.lastUpdated)}}
      </div>


      <div class="field">
        <label> 邮件地址 </label>
        <input type="text" ng-model="selectedUser.email" />
      </div>

      <div class="field">
        <label> 团队 </label>
        <input type="text" ng-model="selectedUser.teamCode" />
      </div>

    </fieldset>

  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
       用户信息
      </div>

      <div class="field" required>
        <label>邮件地址*</label>
        <input type="email" name="email" disabled="disabled" ng-model="user.email">
      </div>

      <div class="field" required>
        <label>全名*</label>
        <input type="text" name="name" ng-model="user.profile.name" placeholder="请填写你的法定全名">
      </div>

      <div class="field" required>
        <label>手机号码*</label>
        <input type="text"
        name="phoneNum"
        ng-model="user.profile.phoneNum">
      </div>

      <div class="field" required>
        <label>活动当天的年龄*</label>
        <input type="text" name="age" ng-model="user.profile.age">
      </div>

      <div class="field" required>
        <label>性别*</label>
        <select name="gender" ng-model="user.profile.gender">
          <option value="">请选择</option>
          <option value="M">男性</option>
          <option value="F">女性</option>
          <option value="O">其他</option>
          <option value="N">我倾向不回答</option>
        </select>
      </div>

      <div class="field" requied>
        <label>所在城市*</label>
        <input type="text" name="city" ng-model="user.profile.city" placeholder="你将从哪里出发前往上海？">
      </div>

      <div class="field" ng-show="!autoFilledSchool" required>
        <label>在读学校*</label>
        <div id="school" class="ui search">
          <div class="ui input">
            <input class="prompt" type="text" placeholder="the school or university you're visiting" name="school" ng-model="user.profile.school">
          </div>
          <div class="results"></div>
        </div>
      </div>

      <div class="field" required>
        <label>在读专业*</label>
        <input type="text" placeholder="例如计算机科学、用户交互、电气工程等" name="subject-of-study" ng-model="user.profile.subject">
      </div>

      <div class="field" required>
        <label>毕业年份*</label>
        <select name="graduation-year" ng-model="user.profile.study.graduationYear">
          <option value="">请选择毕业年份</option>
          <option value="{{year}}" ng-repeat="year in graduationYears">{{year}}</option>
        </select>
      </div>

      <div class="field" required>
        <label>你是否需要交通补助？*</label>
        <p>如果你从其他地方出发来到上海，hackShanghai 组委会将为你提供部分至全额的交通补贴。交通补贴将以转账的形式，在活动结束后30天内下发。符合补助条件的出行方式如下：</p>
        <ul>
          <li>上海市内：不提供交通补贴</li>
          <li>江浙沪地区：火车（G/D/C或其他，二等座）、汽车</li>
          <li>其他地区：火车（G/D/C或其他，二等座）、汽车、飞机</li>
        </ul>
        <p>
          <b>重要提示：</b> 为获得交通补助，你必须在活动现场的交通补助登记中心提交你的出行凭证原件。我们将会留存你的身份证复印件以完成可能的报税工作。
        </p>
        <div class="ui stackable grid">
          <div class="two wide column">
            <div class="ui radio checkbox">
              <input id="travel-reimbursement-y" name="travel-reimbursement" type="radio" value="Y" ng-model="user.profile.travelReimbursement">
              <label for="travel-reimbursement-y">需要</label>
            </div>
          </div>
          <div class="two wide column">
            <div class="ui radio checkbox">
              <input id="travel-reimbursement-n" name="travel-reimbursement" type="radio" value="N" ng-model="user.profile.travelReimbursement">
              <label for="travel-reimbursement-n">不需要</label>
            </div>
          </div>
        </div>
      </div>

      <div class="field" required ng-show="user.profile.travelReimbursement == 'Y'">
        <label>交通补助种类*</label>
        <p>你将从哪个区域出发来到 hackShanghai ？</p>

        <select name="travel-reimbursement-type" ng-model="user.profile.travelReimbursementType">
          <option value="">请选择</option>
          <option value="S">上海</option>
          <option value="T">江浙沪地区</option>
          <option value="O">其他</option>
        </select>
      </div>

      <div class="field">
        <label>你的领英（LinkedIn）地址</label>
        <input type="text" placeholder="https://linkedin.com/in/yourname" ng-model="user.profile.linkedin">
      </div>

      <div class="field">
        <label>你的 GitHub 地址</label>
        <input type="text" placeholder="https://github.com/yourname" ng-model="user.profile.github">
      </div>

      <div class="field">
        <label>你的微信号</label>
        <input type="text" ng-model="user.profile.wechat">
      </div>

      <div class="field">
        <label>你的 DevPost 地址</label>
        <input type="text" placeholder="https://devpost.com/yourname" ng-model="user.profile.devpost">
      </div>

      <div class="field">
        <label>你的个人网站</label>
        <input type="text" ng-model="user.profile.website">
      </div>

      <div class="field">
        <label>你是否参加过 Hackathon ？请列出你参加过的 Hackathon 。</label>
        <input name="pastExperience" ng-model="user.profile.pastExperience">
      </div>

      <div class="field" required>
        <label>你为何对科学、技术、工程、艺术或数学感兴趣？ *</label>
        <input name="stemInterest" ng-model="user.profile.stemInterest">
      </div>

      <div class="field" required>
        <label>请简述你所做过的最满意的一个项目或产品，可以是任何你所感兴趣的领域，并描述你是如何对其付出精力和时间的。 *</label>
        <input name="projectExp" ng-model="user.profile.projectExp">
      </div>

      <div class="field" required>
        <label>请分享一个当下你碰到的问题，并描述它可以如何被科技解决或改善。 *</label>
        <input name="currentIssue" ng-model="user.profile.currentIssue">
      </div>

      <div class="field" required>
        <label>你现在有你想在 hack.init() 完成的项目想法了吗？*</label>
        <select name="idea" ng-model="user.profile.idea">
          <option value="">请选择</option>
          <option value="N">完全没有</option>
          <option value="S">有一些想法</option>
          <option value="Y">有非常确定的想法</option>
        </select>
      </div>


      <div class="field">
        <div
          ng-click="updateProfile()"
          class="ui positive right labeled icon button">
          Update Profile
          <i class="checkmark icon"></i>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Confirmation
      </div>

      <div class="field">
        <label> Dietary Restrictions </label>
        <input
          type="text" ng-model="selectedUser.confirmation.dietaryRestrictions" />
      </div>

      <div class="field">
        <label> Shirt Size </label>
        <select
          ng-model="selectedUser.confirmation.shirtSize">
          <option value="">Shirt Size</option>
          <option value="XS">Unisex X-Small</option>
          <option value="S">Unisex Small</option>
          <option value="M">Unisex Medium</option>
          <option value="L">Unisex Large</option>
          <option value="XL">Unisex X-Large</option>
          <option value="XXL">Unisex XX-Large</option>
          <option value="WXS">Women's X-Small</option>
          <option value="WS">Women's Small</option>
          <option value="WM">Women's Medium</option>
          <option value="WL">Women's Large</option>
          <option value="WXL">Women's X-Large</option>
          <option value="WXXL">Women's XX-Large</option>
        </select>
      </div>

      <div class="ui divider"></div>

      <div class="field">
        <label>
          Needs Hardware
        </label>
        <div class="ui checkbox">
          <input type="checkbox" ng-model="selectedUser.confirmation.wantsHardware">
          <label> Yup, I need hardware </label>
        </div>
      </div>

      <div class="field">
        <label>
        Hardware
        </label>
        <input type="text" ng-model="selectedUser.confirmation.hardware">
      </div>

      <div class="ui divider"></div>

      <div class="ui header">
        Travel
      </div>

      <div class="field">
        <strong> Needs Reimbursement</strong>
        <i
          ng-if="selectedUser.profile.travelReimbursement"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.profile.travelReimbursement"
          class="red remove circle icon">
        </i>
      </div>

      <div class="field">
        <label>Full Name</label>
        <input type="text"
               name="name"
               ng-model="selectedUser.confirmation.address.name">
      </div>

      <div class="field">
        <label> Address Line 1 - Street address, P.O. box, company name, c/o </label>
        <input
          type="text"
          name="addressLine1"
          ng-model="selectedUser.confirmation.address.line1">
      </div>

      <div class="field">
        <label> Address Line 2 - Apartment, suite, unit, building, floor, etc. </label>
        <input
          type="text"
          name="addressLine2"
          ng-model="selectedUser.confirmation.address.line2">
      </div>

      <div class="four fields">
        <div class="field">
          <label> City </label>
          <input
            type="text"
            name="city"
            ng-model="selectedUser.confirmation.address.city">
        </div>
        <div class="field">
          <label> State/Province/Region </label>
          <input
            type="text"
            name="state"
            ng-model="selectedUser.confirmation.address.state">
        </div>
        <div class="field">
          <label> ZIP </label>
          <input
            type="text"
            name="zip"
            ng-model="selectedUser.confirmation.address.zip">
        </div>
        <div class="field">
          <label> Country </label>
          <input
            type="text"
            name="country"
            ng-model="selectedUser.confirmation.address.country">
        </div>
      </div>

      <div class="field">
        <label> Receipt </label>
        <input type="url" ng-model="selectedUser.confirmation.receipt" />
      </div>

      <div class="field">
        <label> Additional Notes </label>
        <textarea ng-model="selectedUser.confirmation.notes"></textarea>
      </div>

    </fieldset>

  </div>
</div>
