<!--
    MAINTAINER: Yuchong Pan
    EMAIL:      panyuchong@gmail.com
-->

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <if(data.lang==="en")><title>hack.init() | Apply</title></if>
        <if(data.lang==="zh")><title>hack.init() | 申请</title></if>
        <link rel="icon" href="/s/img/favicon.ico">

        <!-- CSS -->
        <link rel="stylesheet" href="/s/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/s/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/s/lib/font-awesome-animation/font-awesome-animation.min.css">
        <link rel="stylesheet" href="/s/lib/alertify/css/alertify.css">
        <link rel="stylesheet" href="/s/lib/intl-tel-input/css/intlTelInput.css">
        <link rel="stylesheet" href="/s/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="/s/css/apply-styles.css">
        <link rel="stylesheet" href="/s/css/font.css">
        <!-- /CSS -->
    </head>

    <body>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-93677768-6', 'auto');
          ga('send', 'pageview');

        </script>

        <!-- HEADER -->
        <nav id="navbar-container" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <if(data.lang==="en")>
                        <a class="navbar-brand navbar-brand-logo" href="/">
                            <img alt="Brand" src="/s/img/favicon.ico">
                        </a>
                        <a class="navbar-brand navbar-brand-text" href="/">
                            hack.init()
                        </a>
                    </if>
                    <if(data.lang==="zh")>
                        <a class="navbar-brand navbar-brand-logo" href="/zh">
                            <img alt="Brand" src="/s/img/favicon.ico">
                        </a>
                        <a class="navbar-brand navbar-brand-text" href="/zh">
                            hack.init()
                        </a>
                    </if>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <if(data.lang==="en")>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a data-toggle="collapse" data-target="#navbar.in" href="/team">OUR TEAM</a></li>
                            <!--
                            <li v-show="!loggedIn"><a data-toggle="collapse" data-target="#navbar.in" href="/login">LOG IN</a></li>
                            <li v-show="loggedIn"><a data-toggle="collapse" data-target="#navbar.in" href="/dashboard">DASHBOARD</a></li>
                            <li v-show="loggedIn"><a data-toggle="collapse" data-target="#navbar.in" href="#" @click="userLogout()">LOG OUT</a></li>
                            -->
                            <li><a data-toggle="collapse" data-target="#navbar.in" href="/zh/apply">简体中文</a></li>
                        </ul>
                    </if>
                    <if(data.lang==="zh")>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a data-toggle="collapse" data-target="#navbar.in" href="/zh/team">我们的团队</a></li>
                            <!--
                            <li v-show="!loggedIn"><a data-toggle="collapse" data-target="#navbar.in" href="/zh/login">登录</a></li>
                            <li v-show="loggedIn"><a data-toggle="collapse" data-target="#navbar.in" href="/zh/dashboard">控制面板</a></li>
                            <li v-show="loggedIn"><a data-toggle="collapse" data-target="#navbar.in" href="#" @click="userLogout()">退出</a></li>
                            -->
                            <li><a data-toggle="collapse" data-target="#navbar.in" href="/apply">ENGLISH</a></li>
                        </ul>
                    </if>
                </div>
            </div>
        </nav>
        <!-- /HEADER -->

        <!-- MAIN -->
        <div id="form" class="container">
            <div class="row">
                <div class="col-xs-12 horizontal-center">
                    <if(data.lang==="en")><h2>Participant Application</h2></if>
                    <if(data.lang==="zh")><h2>参赛申请</h2></if>
                </div>
            </div>
            <div class="row form-section">
                <div class="col-xs-12 horizontal-center">
                    <if(data.lang==="en")><h3>General Information</h3></if>
                    <if(data.lang==="zh")><h3>一般信息</h3></if>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")><label for="email">Email *</label><if>
                    <if(data.lang==="zh")><label for="email">邮箱 *</label></if>
                    <div class="input-group">
                        <span class="input-group-addon" id="email-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input type="email" class="form-control" id="email" aria-describedby="email-addon" disabled="true" v-model="email">
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")><label for="name">Full Legal Name *</label></if>
                    <if(data.lang==="zh")><label for="name">全名（请填写你身份证上的姓名） *</label></if>
                    <div class="input-group">
                        <span class="input-group-addon" id="name-addon">
                            <i class="fa fa-id-card"></i>
                        </span>
                        <input type="text" class="form-control" id="name" autocomplete="off" aria-describedby="name-addon" v-model="name" @input="validateRequiredField(name, '#name')" @blur="validateRequiredField(name, '#name')">
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")><label for="gender">Gender *</label></if>
                    <if(data.lang==="zh")><label for="gender" >性别 *</label></if>
                    <div class="input-group">
                        <span class="input-group-addon" id="gender-addon">
                            <i class="fa fa-venus-mars"></i>
                        </span>
                        <if(data.lang==="en")>
                            <select class="form-control select-box" id="gender" aria-describedby="gender-addon" v-model="gender" @change="validateSelectBox(gender, '#gender')" @blur="validateSelectBox(gender, '#gender')">
                                <option value="-">Choose...</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="N">Non-Binary</option>
                            </select>
                        </if>
                        <if(data.lang==="zh")>
                            <select class="form-control select-box" id="gender" aria-describedby="gender-addon" v-model="gender" @change="validateSelectBox(gender, '#gender')" @blur="validateSelectBox(gender, '#gender')">
                                <option value="-">请选择……</option>
                                <option value="M">男性</option>
                                <option value="F">女性</option>
                                <option value="N">非二元性别</option>
                            </select>
                        </if>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="birth">Birth Date (MM/DD/YYYY) *</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="birth">出生日期（MM/DD/YYYY）*</label>
                    </if>
                    <div class="input-group date" id="birth-input-group">
                        <span class="input-group-addon" id="birth-addon">
                            <i class="fa fa-birthday-cake"></i>
                        </span>
                        <input type="text" class="form-control" id="birth" @change="validateBirth()" @blur="validateBirth()">
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="school">Full School Name *</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="school">就读院校全名 *</label>
                    </if>
                    <div class="input-group">
                        <span class="input-group-addon" id="school-addon">
                            <i class="fa fa-institution"></i>
                        </span>
                        <input type="text" class="form-control" id="school" autocomplete="off" aria-describedby="school-addon" v-model="school" @input="validateRequiredField(school, '#school')" @blur="validateRequiredField(school, '#school')">
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="grade">Grade *</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="grade">年级 *</label>
                    </if>
                    <div class="input-group">
                        <span class="input-group-addon" id="grade-addon">
                            <i class="fa fa-graduation-cap"></i>
                        </span>
                        <select class="form-control select-box" id="grade" aria-describedby="grade-addon" @change="validateSelectBox(grade, '#grade')" @blur="validateSelectBox(grade, '#grade')" v-model="grade">
                            <option value="-">Choose...</option>
                            <option value="HSFR">Grade 9</option>
                            <option value="HSSO">Grade 10</option>
                            <option value="HSJR">Grade 11</option>
                            <option value="HSSR">Grade 12</option>
                            <option value="COFR">College Freshman</option>
                            <option value="COSO">College Sophomore</option>
                            <option value="OTHR">Other</option>
                        </select>
                        <select class="form-control select-box" id="grade" aria-describedby="grade-addon" @change="validateSelectBox(grade, '#grade')" @blur="validateSelectBox(grade, '#grade')" v-model="grade">
                            <option value="-">请选择……</option>
                            <option value="HSFR">九年级</option>
                            <option value="HSSO">十年级</option>
                            <option value="HSJR">十一年级</option>
                            <option value="HSSR">十二年级</option>
                            <option value="COFR">大一</option>
                            <option value="COSO">大二</option>
                            <option value="OTHR">其他</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field" v-show="grade == 'OTHR'">
                    <if(data.lang==="en")>
                        <label for="grade-other">Please Specify *</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="grade-other">请注明 *</label>
                    </if>
                    <div class="input-group">
                        <span class="input-group-addon" id="grade-other-addon">
                            <i class="fa fa-pencil"></i>
                        </span>
                        <input type="text" class="form-control" id="grade-other" autocomplete="off" aria-describedby="grade-other-addon" v-model="gradeOther" @input="validateRequiredField(gradeOther, '#grade-other')" @blur="validateRequiredField(gradeOther, '#grade-other')">
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="location">Where are you traveling from? *</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="location">你将从哪里出发来到我们的会场？ *</label>
                    </if>
                    <div class="input-group">
                        <span class="input-group-addon" id="location-addon">
                            <i class="fa fa-map"></i>
                        </span>
                        <div class="row" id="location">
                            <div class="col-xs-6 left-half">
                                <if(data.lang==="en")>
                                    <input type="text" class="form-control" id="city" autocomplete="off" placeholder="City" aria-describedby="location-addon" v-model="city" @input="validateRequiredField(city, '#city')" @blur="validateRequiredField(city, '#city')">
                                </if>
                                <if(data.lang==="zh")>
                                    <input type="text" class="form-control" id="city" autocomplete="off" placeholder="城市" aria-describedby="location-addon" v-model="city" @input="validateRequiredField(city, '#city')" @blur="validateRequiredField(city, '#city')">
                                </if>
                            </div>
                            <div class="col-xs-6 right-half">
                                <if(data.lang==="en")>
                                    <input type="text" class="form-control" id="province" autocomplete="off" placeholder="Province/State" aria-describedby="location-addon" v-model="province" @input="validateRequiredField(province, '#province')" @blur="validateRequiredField(province, '#province')">
                                </if>
                                <if(data.lang==="zh")>
                                    <input type="text" class="form-control" id="province" autocomplete="off" placeholder="省份／州" aria-describedby="location-addon" v-model="province" @input="validateRequiredField(province, '#province')" @blur="validateRequiredField(province, '#province')">
                                </if>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="mobile">Cellphone number *</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="mobile">手机号码 *</label>
                    </if>
                    <div class="input-group">
                        <span class="input-group-addon" id="mobile-addon">
                            <i class="fa fa-phone"></i>
                        </span>
                        <input type="tel" class="form-control" id="mobile" aria-describedby="mobile-addon" v-model="mobile" placeholder="" @input="validateMobile('#mobile')" @blur="validateMobile('#mobile')">
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="wechat">WeChat ID</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="wechat">微信号</label>
                    </if>
                    <div class="input-group">
                        <span class="input-group-addon" id="wechat-addon">
                            <i class="fa fa-wechat"></i>
                        </span>
                        <input type="text" class="form-control" id="wechat" aria-describedby="wechat-addon" v-model="wechat">
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="linkedin">LinkedIn</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="linkedin">领英</label>
                    </if>
                    <div class="input-group">
                        <span class="input-group-addon" id="linkedin-addon-icon">
                            <i class="fa fa-linkedin"></i>
                        </span>
                        <span class="input-group-addon" id="linkedin-addon-text">
                            https://www.linkedin.com/in/
                        </span>
                        <input type="text" class="form-control" id="linkedin" aria-describedby="linkedin-addon-icon" v-model="linkedin">
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <label for="github">GitHub</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="github-addon-icon">
                            <i class="fa fa-github"></i>
                        </span>
                        <span class="input-group-addon" id="github-addon-text">
                            https://github.com/
                        </span>
                        <input type="text" class="form-control" id="github" aria-describedby="github-addon-icon" v-model="github">
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <label for="devpost">Devpost</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="devpost-addon">
                            https://devpost.com/
                        </span>
                        <input type="text" class="form-control" id="devpost" aria-describedby="devpost-addon" v-model="devpost">
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="website">Personal Website</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="website">个人网站</label>
                    </if>
                    <div class="input-group">
                        <span class="input-group-addon" id="website-addon">
                            <i class="fa fa-laptop"></i>
                        </span>
                        <input type="text" class="form-control" id="website" aria-describedby="website-addon" v-model="website">
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="is-ca">I am a Campus Ambassador! *</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="is-ca">我是一名校园大使！ *</label>
                    </if>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="horizontal-center">
                                <input type="radio" name="is-ca" id="is-ca-yes" value="true" v-model="isCA" @change="validateRadio(isCA, '#is-ca')">
                                <if(data.lang==="en")><span>Yes</span></if>
                                <if(data.lang==="zh")><span>是</span></if>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="horizontal-center">
                                <input type="radio" name="is-ca" id="is-ca-no" value="false" v-model="isCA" @change="validateRadio(isCA, '#is-ca')">
                                <if(data.lang==="en")><span>No</span></if>
                                <if(data.lang==="zh")><span>否</span></if>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-section">
                <div class="col-xs-12 horizontal-center">
                    <if(data.lang==="en")><h3>Skills</h3></if>
                    <if(data.lang==="zh")><h3>技能</h3></if>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="skills">What are you skilled in? (Ctrl/Command + click to multi-select!) *</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="skills">你擅长以下中的哪几项？（按住Ctrl或Command键多选） *</label>
                    <div class="input-group">
                    </if>
                        <span class="input-group-addon" id="other-skills-addon">
                            <i class="fa fa-wrench"></i>
                        </span>
                        <if(data.lang==="en")>
                            <select multiple class="form-control" id="skills" v-model="skills" aria-describedby="other-skills-addon">
                                <option value="WEB">Web Development</option>
                                <option value="GAME">Game Development</option>
                                <option value="GRAPHIC">Graphic Design</option>
                                <option value="PM">Product Management</option>
                                <option value="VRAR">Virtual / Augmented Reality</option>
                                <option value="UAV">UAV (Unmanned Aerial Vehicle) / Drones</option>
                                <option value="IOT">Internet of Things</option>
                                <option value="ML">Machine Learning</option>
                                <option value="ANDROID">Android</option>
                                <option value="IOS">iOS</option>
                                <option value="ALGORITHM">Algorithms</option>
                            </select>
                        </if>
                        <if(data.lang==="zh")>
                            <select multiple class="form-control" id="skills" v-model="skills" aria-describedby="other-skills-addon">
                                <option value="WEB">网页开发</option>
                                <option value="GAME">游戏开发</option>
                                <option value="GRAPHIC">平面设计</option>
                                <option value="PM">产品管理</option>
                                <option value="VRAR">虚拟现实／增强现实</option>
                                <option value="UAV">无人机</option>
                                <option value="IOT">物联网</option>
                                <option value="ML">机器学习</option>
                                <option value="ANDROID">Android</option>
                                <option value="IOS">iOS</option>
                                <option value="ALGORITHM">算法</option>
                            </select>
                        </if>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="other-skills">I have other skills!</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="other-skills">我有其他技能！</label>
                    </if>
                    <div class="input-group">
                        <span class="input-group-addon" id="other-skills-addon">
                            <i class="fa fa-gavel"></i>
                        </span>
                        <textarea class="form-control text-area" id="other-skills" rows=4 aria-describedby="other-skills-addon" v-model="otherSkills"></textarea>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="is-guru">I want to become a hacker guru! (Hacker gurus are hackers who know their way around a hackathon and are eager to share their knowledge.) *</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="is-guru">我想成为一名黑客导师！（黑客导师是熟悉创客马拉松并渴望分享他们知识的创客们。） *</label>
                    </if>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="horizontal-center">
                                <input type="radio" name="is-guru" id="is-guru-yes" value="true" v-model="isGuru" @change="validateRadio(isGuru, '#is-guru')">
                                <if(data.lang==="en")><span>Yes</span></if>
                                <if(data.lang==="zh")><span>是</span></if>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="horizontal-center">
                                <input type="radio" name="is-guru" id="is-guru-no" value="false" v-model="isGuru" @change="validateRadio(isGuru, '#is-guru')">
                                <if(data.lang==="en")><span>No</span></if>
                                <if(data.lang==="zh")><span>否</span></if>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-section">
                <div class="col-xs-12 horizontal-center">
                    <if(data.lang==="en")><h3>Short Answers</h3></if>
                    <if(data.lang==="zh")><h3>请简要回答</h3></if>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="how-know-hackinit">How did you hear of <b>hack.init()</b>? *</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="how-know-hackinit">你是通过何渠道听说<b>hack.init()</b>的？ *</label>
                    </if>
                    <div class="input-group">
                        <span class="input-group-addon" id="how-know-hackinit-addon">
                            <i class="fa fa-eye"></i>
                        </span>
                        <if(data.lang==="en")>
                            <select class="form-control select-box" id="how-know-hackinit" aria-describedby="how-know-hackinit-addon" @change="validateSelectBox(howKnowHackinit, '#how-know-hackinit')" @blur="validateSelectBox(howKnowHackinit, '#how-know-hackinit')" v-model="howKnowHackinit">
                                <option value="-">Choose...</option>
                                <option value="F">Friend</option>
                                <option value="T">Teacher</option>
                                <option value="S">Social Media</option>
                                <option value="C">Campus Ambassador</option>
                                <option value="I">Info Session</option>
                                <option value="O">Other</option>
                            </select>
                        </if>
                        <if(data.lang==="zh")>
                            <select class="form-control select-box" id="how-know-hackinit" aria-describedby="how-know-hackinit-addon" @change="validateSelectBox(howKnowHackinit, '#how-know-hackinit')" @blur="validateSelectBox(howKnowHackinit, '#how-know-hackinit')" v-model="howKnowHackinit">
                                <option value="-">请选择……</option>
                                <option value="F">朋友推荐</option>
                                <option value="T">老师推荐</option>
                                <option value="S">社交媒体宣传</option>
                                <option value="C">校园大使宣传</option>
                                <option value="I">宣讲会</option>
                                <option value="O">其他</option>
                            </select>
                        </if>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field" v-show="howKnowHackinit == 'O'">
                    <if(data.lang==="en")>
                        <label for="how-know-hackinit-other">Please Specify *</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="how-know-hackinit-other">请注明 *</label>
                    </if>
                    <div class="input-group">
                        <span class="input-group-addon" id="how-know-hackinit-other-addon">
                            <i class="fa fa-pencil"></i>
                        </span>
                        <input type="text" class="form-control" id="how-know-hackinit-other" autocomplete="off" aria-describedby="how-know-hackinit-other-addon" v-model="howKnowHackinitOther" @input="validateRequiredField(howKnowHackinitOther, '#how-know-hackinit-other')" @blur="validateRequiredField(howKnowHackinitOther, '#how-know-hackinit-other')">
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="hackathon-experience">Have you participated in hackathons before? Please list all hackathons you have attended. *</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="hackathon-experience">你是否参加过hackathon？请列出你参加过的hackathon。 *</label>
                    </if>
                    <div class="input-group">
                        <span class="input-group-addon" id="hackathon-experience-addon">
                            <i class="fa fa-code"></i>
                        </span>
                        <textarea class="form-control text-area" id="hackathon-experience" rows=4 aria-describedby="hackathon-experience-addon" v-model="hackathonExperience" @input="validateRequiredField(hackathonExperience, '#hackathon-experience')" @blur="validateRequiredField(hackathonExperience, '#hackathon-experience')"></textarea>
                    </div>
                </div>
                <div id="hacker-questions" v-show="isGuru == 'false'">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                        <if(data.lang==="en")>
                            <label for="why-interested-stem">Why are you interested in STEAM (Science, Technology, Engineering, Arts, Mathematics)? *</label>
                        </if>
                        <if(data.lang==="zh")>
                            <label for="why-interested-stem">你为何对科学、技术、工程、艺术或数学感兴趣？ *</label>
                        </if>
                        <div class="input-group">
                            <span class="input-group-addon" id="why-interested-stem-addon">
                                <i class="fa fa-pie-chart"></i>
                            </span>
                            <textarea class="form-control text-area" id="why-interested-stem" rows=4 aria-describedby="why-interested-stem-addon" v-model="whyInterestedStem" @input="validateRequiredField(whyInterestedStem, '#why-interested-stem')" @blur="validateRequiredField(whyInterestedStem, '#why-interested-stem')"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                        <if(data.lang==="en")>
                            <label for="project-hacker">Name one project/product that you are proud of. It can be in any field of expertise. Elaborate your experience with it. *</label>
                        </if>
                        <if(data.lang==="zh")>
                            <label for="project-hacker">请简述你所做过的最满意的一个项目或产品，可以是任何你所感兴趣的领域，并描述你是如何对其付出精力和时间的。 *</label>
                        </if>
                        <div class="input-group">
                            <span class="input-group-addon" id="project-hacker-addon">
                                <i class="fa fa-code-fork"></i>
                            </span>
                            <textarea class="form-control text-area" id="project-hacker" rows=4 aria-describedby="project-hacker-addon" v-model="projectHacker" @input="validateRequiredField(projectHacker, '#project-hacker')" @blur="validateRequiredField(projectHacker, '#project-hacker')"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                        <if(data.lang==="en")>
                            <label for="tech-issue">Name one issue you bumped into today and how it can be solved/improved by technology . (Be creative!) *</label>
                        </if>
                        <if(data.lang==="zh")>
                            <label for="tech-issue">请分享一个当下你碰到的问题，并描述它可以如何被科技解决或改善。 *</label>
                        </if>
                        <div class="input-group">
                            <span class="input-group-addon" id="tech-issue-addon">
                                <i class="fa fa-magic"></i>
                            </span>
                            <textarea class="form-control text-area" id="tech-issue" rows=4 aria-describedby="tech-issue-addon" v-model="techIssue" @input="validateRequiredField(techIssue, '#tech-issue')" @blur="validateRequiredField(techIssue, '#tech-issue')"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                        <if(data.lang==="en")>
                            <label for="file-hacker">Resume</label>
                        </if>
                        <if(data.lang==="zh")>
                            <label for="file-hacker">简历</label>
                        </if>
                        <div class="input-group">
                            <span class="input-group-addon" id="file-hacker-addon">
                                <i class="fa fa-file"></i>
                            </span>
                            <input type="file" class="form-control" id="file-hacker" aria-describedby="file-hacker-addon" @change="resumeSelected">
                        </div>
                    </div>
                </div>
                <div id="guru-questions" v-show="isGuru == 'true'">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                        <if(data.lang==="en")>
                            <label for="help-experience">Describe one time you’ve helped other people learn something. *</label>
                        </if>
                        <if(data.lang==="zh")>
                            <label for="help-experience">请简述你帮助他人学会某项技能的一次经历。 *</label>
                        </if>
                        <div class="input-group">
                            <span class="input-group-addon" id="help-experience-addon">
                                <i class="fa fa-handshake-o"></i>
                            </span>
                            <textarea class="form-control text-area" id="help-experience" rows=4 aria-describedby="help-experience-addon" v-model="helpExperience" @input="validateRequiredField(helpExperience, '#help-experience')" @blur="validateRequiredField(helpExperience, '#help-experience')"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                        <if(data.lang==="en")>
                            <label for="project-guru">Describe one project you've created or largely contributed to. What inspired you to start this project? How did you overcome the challenges you met during the development process. Please attach the GitHub link if applicable. *</label>
                        </if>
                        <if(data.lang==="zh")>
                            <label for="project-guru">请简述你开发或积极参与过的某个项目。是什么让你产生了开发该项目的灵感？你又是如何克服项目开发过程中所遇到的挑战的？如有GitHub链接请附于答案末。 *</label>
                        </if>
                        <div class="input-group">
                            <span class="input-group-addon" id="project-guru-addon">
                                <i class="fa fa-code-fork"></i>
                            </span>
                            <textarea class="form-control text-area" id="project-guru" rows=4 aria-describedby="project-guru-addon" v-model="projectGuru" @input="validateRequiredField(projectGuru, '#project-guru')" @blur="validateRequiredField(projectGuru, '#project-guru')"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                        <if(data.lang==="en")>
                            <label for="file-guru">Resume *</label>
                        </if>
                        <if(data.lang==="zh")>
                            <label for="file-guru">简历 *</label>
                        </if>
                        <div class="input-group">
                            <span class="input-group-addon" id="file-guru-addon">
                                <i class="fa fa-file"></i>
                            </span>
                            <input type="file" class="form-control" id="file-guru" aria-describedby="file-guru-addon" @change="resumeSelected">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-section">
                <div class="col-xs-12 horizontal-center">
                    <if(data.lang==="en")><h3>Team Information</h3></if>
                    <if(data.lang==="zh")><h3>团队信息</h3></if>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <if(data.lang==="en")>
                        <label for="have-team">I already have a team! *</label>
                    </if>
                    <if(data.lang==="zh")>
                        <label for="have-team">我已经组好了团队！ *</label>
                    </if>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="horizontal-center">
                                <input type="radio" name="have-team" id="have-team-yes" value="true" v-model="haveTeam" @change="validateRadio(haveTeam, '#have-team')">
                                <if(data.lang==="en")><span>Yes</span></if>
                                <if(data.lang==="zh")><span>是</span></if>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="horizontal-center">
                                <input type="radio" name="have-team" id="have-team-no" value="false" v-model="haveTeam" @change="validateRadio(haveTeam, '#have-team')">
                                <if(data.lang==="en")><span>No</span></if>
                                <if(data.lang==="zh")><span>否</span></if>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="not-have-team-yet" v-show="haveTeam == 'false'">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                        <if(data.lang==="en")>
                            <label for="assign-team">I would like to have <b>hack.init()</b> assign me to a team! *</label>
                        </if>
                        <if(data.lang==="zh")>
                            <label for="assign-team">我愿意由组委会分配团队！ *</label>
                        </if>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="horizontal-center">
                                    <input type="radio" name="assign-team" id="assign-team-yes" value="true" v-model="assignTeam" @change="validateRadio(assignTeam, '#assign-team')">
                                    <if(data.lang==="en")><span>Yes</span></if>
                                    <if(data.lang==="zh")><span>是</span></if>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="horizontal-center">
                                    <input type="radio" name="assign-team" id="assign-team-no" value="false" v-model="assignTeam" @change="validateRadio(assignTeam, '#assign-team')">
                                    <if(data.lang==="en")><span>No</span></if>
                                    <if(data.lang==="zh")><span>否</span></if>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="already-have-team" v-show="haveTeam == 'true'">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                        <if(data.lang==="en")>
                            <label for="number-member">How many team members do you have in your team? (Teams are at most 4 people for our main event and at most 5 people for the invitational. If your team passes our selection, you will have the opportunity to select which event your team is going to participate in upon confirmation of attendance.) *</label>
                        </if>
                        <if(data.lang==="zh")>
                            <label for="number-member">你的团队中有几名成员？（参与主活动的每个团队最多包含4名成员。邀请赛团队最多包含5名成员。若你的团队通过选拔，在提交确认信息时将有机会进行参赛组别的选择。） *</label>
                        </if>
                        <div class="input-group">
                            <span class="input-group-addon" id="number-member-addon">
                                <i class="fa fa-question"></i>
                            </span>
                            <input type="text" class="form-control" id="number-member" autocomplete="off" aria-describedby="number-member-addon" v-model="numberMember" @input="validateNumberMember()" @blur="validateNumberMember()">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                        <if(data.lang==="en")>
                            <label for="captain-name">What's the full legal name of the team captain? (Please make sure it appears the same as your team captain's application) *</label>
                        </if>
                        <if(data.lang==="zh")>
                            <label for="captain-name">请填写你所在团队队长的法定全名（请确保它和队长申请中的名字一致） *</label>
                        </if>
                        <div class="input-group">
                            <span class="input-group-addon" id="captain-name-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" class="form-control" id="captain-name" aria-describedby="captain-name-addon" v-model="captainName" @input="validateRequiredField(captainName, '#captain-name')" @blur="validateRequiredField(captainName, '#captain-name')">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                        <if(data.lang==="en")>
                            <label for="captain-email">Please include the email of your team captain (Please make sure it appears the same as your team captain's application)  *</label>
                        </if>
                        <if(data.lang==="zh")>
                            <label for="captain-email">请填写团队队长的邮箱（请确保它和队长申请中的邮箱一致） *</label>
                        </if>
                        <div class="input-group">
                            <span class="input-group-addon" id="captain-email-addon">
                                <i class="fa fa-envelope-open"></i>
                            </span>
                            <input type="email" class="form-control" id="captain-email" autocomplete="off" aria-describedby="captain-email-addon" v-model="captainEmail" @input="validateEmail(captainEmail, '#captain-email')" @blur="validateEmail(captainEmail, '#captain-email')">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                        <if(data.lang==="en")>
                            <label for="members">Please enter the full legal name of team members (one name per line) *</label>
                        </if>
                        <if(data.lang==="zh")>
                            <label for="members">请分别填写团队成员的法定全名（每行一个） *</label>
                        </if>
                        <div class="input-group">
                            <span class="input-group-addon" id="members-addon">
                                <i class="fa fa-users"></i>
                            </span>
                            <textarea class="form-control text-area" id="members" rows=4 aria-describedby="members-addon" v-model="members" @input="validateRequiredField(members, '#members')" @blur="validateRequiredField(members, '#members')"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-section">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-field">
                    <div class="input-group">
                        <input type="checkbox" id="checkbox" v-model="checked" @change="validateCheckbox(checked, '#checkbox')">
                        <if(data.lang==="en")>
                            <label for="checkbox">I have read and accept <a target="_blank" href="/s/doc/Hackathon-Official-Rule.pdf"><em>hack.init() Official Rules</em></a>.</label>
                        </if>
                        <if(data.lang==="zh")>
                            <label for="checkbox">我已阅读并接受<a target="_blank" href="/s/doc/Hackathon-Official-Rule-zh.pdf">《hack.init() 创客马拉松竞赛规则》</a>。</label>
                        </if>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 submit-btn-col">
                    <div class="horizontal-center">
                        <if(data.lang==="en")>
                            <a type="button" id="submit-btn" class="btn btn-primary btn-lg" @click="submitApp()">Submit</a>
                        </if>
                        <if(data.lang==="zh")>
                            <a type="button" id="submit-btn" class="btn btn-primary btn-lg" @click="submitApp()">提交</a>
                        </if>
                    </div>
                </div>
            </div>
        </div>
        <!-- /MAIN -->

        <!-- FOOTER -->
        <div class="container-fluid darkgrey-background">
            <div class="row">
                <if(data.lang==="en")>
                    <div class="col-xs-12 footer">
                        <div class="horizontal-center">
                            <p><i class="fa fa-copyright"></i> hack.init() 2017</p>
                            <p>Content licensed under <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>. <a target="_blank" href="https://github.com/hackinit/hackinit.io">Open Source</a>.</p>
                            <p><a target="_blank" href="/s/doc/Code-of-Conduct.pdf">Code of Conduct</a></p>
                        </div>
                    </div>
                </if>
                <if(data.lang==="zh")>
                    <div class="col-xs-12 footer">
                        <div class="horizontal-center">
                            <p><i class="fa fa-copyright"></i> hack.init() 2017</p>
                            <p>本网站内容根据<a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">“署名-相同方式共享”</a>的许可方式发布。<a target="_blank" href="https://github.com/hackinit/hackinit.io">网站开源</a>。</p>
                            <p><a target="_blank" href="/s/doc/Code-of-Conduct.pdf">选⼿⾏为守则</a></p>
                        </div>
                    </div>
                </if>
            </div>
        </div>
        <!-- /FOOTER -->

        <!-- JAVASCRIPT -->
        <script src="/s/lib/jquery/jquery-3.1.1.min.js"></script>
        <script src="/s/lib/vue/vue.min.js"></script>
        <script src="/s/lib/vue/vue-resource.min.js"></script>
        <script src="/s/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/s/lib/alertify/js/alertify.js"></script>
        <script src="/s/lib/intl-tel-input/js/intlTelInput.min.js"></script>
        <script src="/s/lib/moment/moment.min.js"></script>
        <script src="/s/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="/s/js/apply-controller.js"></script>
        <!-- /JAVASCRIPT -->
    </body>
</html>
