<!--
    MAINTAINER: Yuchong Pan
    EMAIL:      panyuchong@gmail.com
-->

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title if(data.lang==="en")>hack.init() | Log In</title>
        <title if(data.lang==="zh")>hack.init() | 登录</title>
        <link rel="icon" href="/s/img/favicon.ico">

        <!-- CSS -->
        <link rel="stylesheet" href="/s/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/s/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/s/lib/alertify/css/alertify.css">
        <link rel="stylesheet" href="/s/css/login-styles.css">
        <link rel="stylesheet" href="/s/css/font.css">
        <!-- /CSS -->
    </head>

    <body>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-93677768-3', 'auto');
          ga('send', 'pageview');

        </script>

        <!-- HEADER -->
        <nav id="navbar-container" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <if(data.lang==="en")>
                        <a class="navbar-brand navbar-brand-logo" href="/">
                            <img alt="Brand" src="/s/img/favicon.ico">
                        </a>
                        <a class="navbar-brand navbar-brand-text" href="/">
                            hack.init()
                        </a>
                    </if>
                    <if(data.lang==="zh")>
                        <a class="navbar-brand navbar-brand-logo" href="/zh">
                            <img alt="Brand" src="/s/img/favicon.ico">
                        </a>
                        <a class="navbar-brand navbar-brand-text" href="/zh">
                            hack.init()
                        </a>
                    </if>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" if(data.lang==="en")>
                        <li><a data-toggle="collapse" data-target="#navbar.in" href="/team">OUR TEAM</a></li>
                        <li><a data-toggle="collapse" data-target="#navbar.in" v-bind:href="simplifiedChinesePage">简体中文</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" if(data.lang==="zh")>
                        <li><a data-toggle="collapse" data-target="#navbar.in" href="/zh/team">我们的团队</a></li>
                        <li><a data-toggle="collapse" data-target="#navbar.in" v-bind:href="englishPage">ENGLISH</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /HEADER -->

        <!-- MAIN -->
        <div id="login-container" class="container">
            <div class="row title-row">
                <div class="col-xs-12">
                    <div class="horizontal-center">
                        <h1 if(data.lang==="en")>Welcome Back</h1>
                        <h1 if(data.lang==="zh")>欢迎回来</h1>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <p class="subtitle" if(data.lang==="en")>Log-in to your <b>hack.init()</b> account to manage your application.</p>
                    <p class="subtitle" if(data.lang==="zh")>登录你的<b>hack.init()</b>账户查看申请状态。</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form-field">
                    <div class="input-group">
                        <span class="input-group-addon" id="email-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input type="email" class="form-control" id="email" aria-describedby="email-addon" placeholder="Email" v-model="email" @input="validateEmail(email)" @blur="validateEmail(email)" @keyup.enter="emailEntered()" if(data.lang==="en")>
                        <input type="email" class="form-control" id="email" aria-describedby="email-addon" placeholder="邮箱" v-model="email" @input="validateEmail(email)" @blur="validateEmail(email)" @keyup.enter="emailEntered()" if(data.lang==="zh")>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form-field">
                    <div class="input-group">
                        <span class="input-group-addon" id="password-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        <input type="password" class="form-control" id="password" aria-describedby="password-addon" placeholder="Password" v-model="password" @input="validatePassword(password)" @blur="validatePassword(password)" @keyup.enter="userLogin()" if(data.lang==="en")>
                        <input type="password" class="form-control" id="password" aria-describedby="password-addon" placeholder="密码" v-model="password" @input="validatePassword(password)" @blur="validatePassword(password)" @keyup.enter="userLogin()" if(data.lang==="zh")>
                    </div>
                    <a class="float-right" href="#" @click="forgotPassword()" if(data.lang==="en")>Forgot password?</a>
                    <a class="float-right" href="#" @click="forgotPassword()" if(data.lang==="zh")>忘记密码？</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 login-btn-col">
                    <div class="horizontal-center">
                        <a type="button" id="login-btn" class="btn btn-primary btn-lg" @click="userLogin()" if(data.lang==="en")>Log In</a>
                        <a type="button" id="login-btn" class="btn btn-primary btn-lg" @click="userLogin()" if(data.lang==="zh")>登录</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="horizontal-center register-link" if(data.lang==="en")>
                        <p>Don't have an account?</p>
                        <p>Click <a href="/register">here</a> to create one!</p>
                    </div>
                    <div class="horizontal-center register-link" if(data.lang==="zh")>
                        <p>还没有账户？</p>
                        <p>点击<a href="/zh/register">这里</a>注册！</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /MAIN -->

        <!-- FOOTER -->
        <div id="footer-container" class="container-fluid darkgrey-background">
            <div class="row">
                <div class="col-xs-12 footer" if(data.lang==="en")>
                    <div class="horizontal-center">
                        <p><i class="fa fa-copyright"></i> hack.init() 2017</p>
                        <p>Content licensed under <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>. <a target="_blank" href="https://github.com/hackinit/hackinit.io">Open Source</a>.</p>
                        <p><a target="_blank" href="/s/doc/Code-of-Conduct.pdf">Code of Conduct</a></p>
                    </div>
                </div>
                <div class="col-xs-12 footer" if(data.lang==="zh")>
                    <div class="horizontal-center">
                        <p><i class="fa fa-copyright"></i> hack.init() 2017</p>
                        <p>本网站内容根据<a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">“署名-相同方式共享”</a>的许可方式发布。<a target="_blank" href="https://github.com/hackinit/hackinit.io">网站开源</a>。</p>
                        <p><a target="_blank" href="/s/doc/Code-of-Conduct.pdf">选手行为守则</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /FOOTER -->

        <!-- JAVASCRIPT -->
        <script src="/s/lib/jquery/jquery-3.1.1.min.js"></script>
        <script src="/s/lib/vue/vue.min.js"></script>
        <script src="/s/lib/vue/vue-resource.min.js"></script>
        <script src="/s/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/s/lib/alertify/js/alertify.js"></script>
        <script src="/s/js/login-controller.js"></script>
        <!-- /JAVASCRIPT -->
    </body>
</html>
