<!--
    MAINTAINER: Yuchong Pan
    EMAIL: panyuchong@gmail.com
-->

import header from "./header.marko"

<!DOCTYPE HTML>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src=`https://www.googletagmanager.com/gtag/js?id=UA-${data.ga}`></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-${data.ga}');
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <${input.meta}/>

        <title>hack.init() | ${data.title}</title>
        <link rel="icon" href="//static.thehack.org.cn/2018/img/hackinit/logo/hi-64px-c.png">

        <!-- CSS -->
        <link rel="stylesheet" href="//static.thehack.org.cn/2018/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="//static.thehack.org.cn/2018/css/shared/font.css">
        <link rel="stylesheet" href="//static.thehack.org.cn/2018/css/shared/styles.css">
        <link rel="stylesheet" href="//static.thehack.org.cn/2018/css/hackinit/shared/header.css">

        <${input.css}/>
        <!-- /CSS -->
    </head>

    <body>
        <${header} ...data/>
        <${input.body}/>

        <!-- JAVASCRIPT -->
        <script src="//static.thehack.org.cn/2018/lib/jquery/jquery-3.1.1.min.js"></script>
        <script src="//static.thehack.org.cn/2018/lib/vue/vue.min.js"></script>
        <script src="//static.thehack.org.cn/2018/lib/vue/vue-resource.min.js"></script>
        <script src="//static.thehack.org.cn/2018/lib/bootstrap/js/bootstrap.min.js"></script>

        <${input.javascript}/>
        <!-- /JAVASCRIPT -->
    </body>
</html>
