<!-- section begin -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeInUp">
                <h2>欢迎来到 hack.init() ！</h2>
                <p class="lead">中国最顶尖的高中生创客马拉松</p>
                <div class="spacer-single"></div>
            </div>

            <div class="col-md-4 text-center wow fadeInUp">
                <i class="fa fa-bookmark fa-3x id-color mb20 size40"></i>
                <h3>Topics</h3>
                <p></p>
            </div>

            <div class="col-md-4 text-center wow fadeInUp">
                <i class="fa fa-cogs fa-3x id-color mb20 size40"></i>
                <h3>工作坊</h3>
                <p>作为以教育创新为核心导向的创客马拉松，hack.init() 将邀请来自多家企业及社会组织的行业科技领袖举办赛前及赛中工作坊。我们相信通过使青年人接触这些顶尖技术，他们将能使自己的想法变成现实。</p>
            </div>

            <div class="col-md-4 text-center wow fadeInUp">
                <i class="fa fa-info-circle fa-3x id-color mb20 size40"></i>
                <h3>Information</h3>
                <p></p>
            </div>
        </div>
    </div>
</section>
<!-- section close -->
