<!-- section begin -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeInUp">
                <h2>欢迎来到 hack.init() ！</h2>
                <p class="lead">中国最顶尖的高中生创客马拉松</p>
                <div class="spacer-single"></div>
            </div>

            <div class="col-md-4 text-center wow fadeInUp">
                <i class="fa fa-users fa-3x id-color mb20 size40"></i>
                <h3>团队</h3>
                <p>来自全国的青少年创客聚集hack.init()，可以带着团队而来，也可以现场组队，二至四人的队伍在24小时里共同头脑风暴，按各自擅长的方向合理分工，实践创想，完成产品并做出惊艳的展示。</p>
            </div>

            <div class="col-md-4 text-center wow fadeInUp">
                <i class="fa fa-cogs fa-3x id-color mb20 size40"></i>
                <h3>工作坊</h3>
                <p>作为以教育创新为核心导向的创客马拉松，hack.init() 将邀请来自多家企业及社会组织的行业科技领袖举办赛前及赛中工作坊。我们相信通过使青年人接触这些顶尖技术，他们将能使自己的想法变成现实。</p>
            </div>

            <div class="col-md-4 text-center wow fadeInUp">
                <i class="fa fa-info-circle fa-3x id-color mb20 size40"></i>
                <h3>资源</h3>
                <p>hack.init() 创客马拉松的现场会免费提供大量供开发用的硬件或软件资源，包括但不限于平板电脑、开发模块、API等，只要你有想法有能力，在 hack.init() 就有实践的可能。</p>
            </div>
        </div>
    </div>
</section>
<!-- section close -->
