<!-- section begin -->
<section id="intro-img" class="full-height full-width no-top no-bottom text-light" data-stellar-background-ratio=".2">
  <div class="overlay-bg t50">

    <div class="center-y fadeScroll text-center relative" data-scroll-speed="4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="spacer-double"></div>
            <img class="logo-header" src="//static.hackinit.org/img/hackinit/logo/hi-256px-c.png" alt="">
            <div class="spacer-single"></div>
            <div class="subtitle s2"><span><i class="fa fa-calendar-o id-color"></i>2018年7月21日至22日</span><span><i class="fa fa-map-marker id-color"></i>中国，上海</span></div>
            <div class="spacer-single"></div>
            <div class="spacer-single"></div>
            <a href="http://ambassador.hackinit.org/" class="btn btn-custom">成为校园大使</a>&nbsp;
            <a href="http://2017.hackinit.org/" class="btn btn-border">2017年活动官网</a>&nbsp;
            <a href="#sponsor" class="btn btn-border">与我们合作</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
<!-- section close -->
