<!-- section begin -->
<section id="section-fun-facts" class="no-top no-bottom text-light" data-stellar-background-ratio=".2">
    <div class="overlay-bg pt80 pb80">
        <div class="container">

            <div class="row">
                <div class="col-md-4 wow fadeIn" data-wow-delay="0">
                    <div class="de_count">
                        <i class="fa fa-user fa-3x" data-animation="fadeInDown" data-delay="0"></i>
                        <h3 class="timer" data-to="500" data-speed="250">500</h3>
                        <span>参赛者</span>
                    </div>
                </div>

                <div class="col-md-4 wow fadeIn" data-wow-delay=".25s">
                    <div class="de_count">
                        <i class="fa fa-commenting fa-3x" data-animation="fadeInDown" data-delay="200"></i>
                        <h3 class="timer" data-to="300" data-speed="2500">20</h3>
                        <span>Topics</span>
                    </div>
                </div>

                <div class="col-md-4 wow fadeIn" data-wow-delay=".5s">
                    <div class="de_count">
                        <i class="fa fa-commenting fa-3x" data-animation="fadeInDown" data-delay="400"></i>
                        <h3 class="timer" data-to="50" data-speed="2500">20</h3>
                        <span>Speakers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section close -->
