<nav class="navbar fixed-top navbar-expand-lg navbar-black bg-black navbar-hackinit">
    <a class="navbar-brand" href="#">
        <img src="//static.thehack.org.cn/img/hackinit/logo/hi-256px-w.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about">&lt; ${data.about} /&gt;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#faq">&lt; ${data.faq} /&gt;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sponsor">&lt; ${data.sponsor} /&gt;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="${data.altLink}">&lt; ${data.alt} /&gt;</a>
            </li>
        </ul>
    </div>
</nav>
