<!--
    MAINTAINER: Shaolin Zhang
    EMAIL: dev@shaolinzhang.com
-->

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
        ${data.title}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">${data.navbarAbout}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">${data.navbarFaq}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">${data.navbarAgenda}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">${data.navbarSponsor}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">${data.navbarOurTeam}</a>
            </li>
        </ul>
    </div>
</nav>
