<!--
    MAINTAINER: Yuchong Pan
    EMAIL: panyuchong@gmail.com
-->

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>hack.init() - ${data.title}</title>
        <link rel="icon" href="//static.hackinit.org/img/hackinit/logo/hi-64px-c.png">

        <!-- CSS -->
        <link rel="stylesheet" href="//static.hackinit.org/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="//static.hackinit.org/css/shared/font.css">
        <link rel="stylesheet" href="//static.hackinit.org/css/shared/styles.css">
        <link rel="stylesheet" href="//static.hackinit.org/css/hackinit/shared/header.css">

        <include(input.css)/>
        <!-- /CSS -->
    </head>

    <body>
        <include("./header.marko", data)/>
        <include(input.body)/>

        <!-- JAVASCRIPT -->
        <script src="//static.hackinit.org/lib/jquery/jquery-3.1.1.min.js"></script>
        <script src="//static.hackinit.org/lib/vue/vue.min.js"></script>
        <script src="//static.hackinit.org/lib/vue/vue-resource.min.js"></script>
        <script src="//static.hackinit.org/lib/bootstrap/js/bootstrap.min.js"></script>

        <include(input.javascript)/>
        <!-- /JAVASCRIPT -->
    </body>
</html>
