<!--
    MAINTAINER: Yuchong Pan
    EMAIL: panyuchong@gmail.com
-->

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>hack.init() 2018 | ${data.title} </title>
        <link rel="icon" href="//static.hackinit.org/img/thehack/favicon.ico">

        <!-- CSS -->
        <link rel="stylesheet" href="//static.hackinit.org/css/shared/font.css">
        <link rel="stylesheet" href="//static.hackinit.org/css/shared/styles.css">
        <link rel="stylesheet" href="//static.hackinit.org/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="//static.hackinit.org/css/hackinit/animate.css" type="text/css">
        <link rel="stylesheet" href="//static.hackinit.org/css/hackinit/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="//static.hackinit.org/css/hackinit/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="//static.hackinit.org/css/hackinit/jquery.countdown.css" type="text/css">
        <link rel="stylesheet" href="//static.hackinit.org/css/hackinit/style.css" type="text/css">

        <!-- background -->
        <link rel="stylesheet" href="//static.hackinit.org/css/hackinit/bg.css" type="text/css">

        <!-- color -->
        <link rel="stylesheet" href="//static.hackinit.org/css/hackinit/colors/orange.css" type="text/css">


        <include(input.css)/>
        <!-- /CSS -->
    </head>

    <body>
        <include(input.body)/>

        <!-- JAVASCRIPT -->
        <script src="//static.hackinit.org/lib/jquery/jquery-3.1.1.min.js"></script>
        <script src="//static.hackinit.org/lib/vue/vue.min.js"></script>
        <script src="//static.hackinit.org/lib/vue/vue-resource.min.js"></script>
        <script src="//static.hackinit.org/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="//static.hackinit.org/js/hackinit/jquery.isotope.min.js"></script>
        <script src="//static.hackinit.org/js/hackinit/easing.js"></script>
        <script src="//static.hackinit.org/js/hackinit/owl.carousel.js"></script>
        <script src="//static.hackinit.org/js/hackinit/jquery.countTo.js"></script>
        <script src="//static.hackinit.org/js/hackinit/wow.min.js"></script>
        <script src="//static.hackinit.org/js/hackinit/jquery.magnific-popup.min.js"></script>
        <script src="//static.hackinit.org/js/hackinit/enquire.min.js"></script>
        <script src="//static.hackinit.org/js/hackinit/jquery.stellar.min.js"></script>
        <script src="//static.hackinit.org/js/hackinit/jquery.plugin.js"></script>
        <script src="//static.hackinit.org/js/hackinit/jquery.countdown.js"></script>
        <script src="//static.hackinit.org/js/hackinit/countdown-custom.js"></script>
        <script src="//static.hackinit.org/js/hackinit/designesia.js"></script>
        <script src="https://use.fontawesome.com/63ae9086d4.js"></script>

        <include(input.javascript)/>
        <!-- /JAVASCRIPT -->
    </body>
</html>
