<!-- section begin -->
<section id="section-schedules" aria-label="section-services-tab" data-bgcolor="#f5f5f5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow fadeInUp">
        <h2>日程安排</h2>
        <p class="lead">最终日程将在2018年6月发布</p>
        <div class="spacer-single"></div>
      </div>

      <!-- content begin -->
      <div id="content">
          <div class="container">
              <div class="row">

                  <div class="col-md-12">
                      <div class="de_tab tab_style_4 text-center">
                          <ul class="de_nav">
                              <li class="active" data-link="#section-services-tab">
                                  <h3>Day <span>01</span></h3>
                                  <h4>3 August, 2017</h4>
                              </li>
                              <li data-link="#section-services-tab">
                                  <h3>Day <span>02</span></h3>
                                  <h4>4 August, 2017</h4>
                              </li>
                              <li data-link="#section-services-tab">
                                  <h3>Day <span>03</span></h3>
                                  <h4>5 August, 2017</h4>
                              </li>
                              <li data-link="#section-services-tab">
                                  <h3>Day <span>04</span></h3>
                                  <h4>6 August, 2017</h4>
                              </li>
                              <li data-link="#section-services-tab">
                                  <h3>Day <span>05</span></h3>
                                  <h4>7 August, 2017</h4>
                              </li>
                          </ul>

                          <div class="de_tab_content text-left">

                              <div id="tab1" class="tab_single_content">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">08:00 - 10:00 AM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/1.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Ben Sheridan</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Introduction WordPress</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">12:00 - 14:00 PM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/2.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Sophie Lana</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Getting Started With WordPress</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">16:00 - 18:00 PM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/3.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>James Hoult</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Prepare Your Hosting &amp; Domain</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">20:00 - 22:00 PM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/4.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Oscar Helman</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>WordPress Theme Development Basic</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div id="tab2" class="tab_single_content">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">08:00 - 12:00 AM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/5.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Rose Shipp</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>WordPress Theme Development Basic 2</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">12:00 - 14:00 PM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/6.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Isaac Nicholas</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Getting Started With Photoshop</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">16:00 - 18:00 PM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/7.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>John Arnold</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Getting Started With HTML &amp; CSS</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">20:00 - 22:00 PM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/1.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Ben Sheridan</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Convert From PSD to HTML</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div id="tab3" class="tab_single_content">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">08:00 - 12:00 AM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/2.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Sophie Lana</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Make Your HTML to WordPress</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">12:00 - 14:00 PM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/3.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>James Hoult</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Introduction Search Engine Optimisation</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">16:00 - 18:00 PM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/4.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Oscar Helman</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Make SEO Friendly WP Theme</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">20:00 - 22:00 AM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/5.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Rose Shipp</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Advanced Theme Development</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div id="tab4" class="tab_single_content">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">08:00 - 12:00 AM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/6.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Isaac Nicholas</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Advanced Theme Development 2</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">12:00 - 14:00 PM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/7.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>John Arnold</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Make Mobile Friendly Theme</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">16:00 - 18:00 PM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/1.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Ben Sheridan</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Quality Asurance Your WP Theme</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">20:00 - 22:00 PM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/2.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Sophie Lana</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Getting Started With WP Plugin</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div id="tab5" class="tab_single_content">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">08:00 - 12:00 AM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/1.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Ben Sheridan</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>WP Plugin Development</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">08:00 - 12:00 AM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/2.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Ben Sheridan</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Customize Your WordPress Theme</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">08:00 - 12:00 AM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/3.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>James Hoult</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Interview With WP Author</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="schedule-listing">
                                              <div class="schedule-item">
                                                  <div class="sc-time">08:00 - 12:00 AM</div>
                                                  <div class="sc-pic">
                                                      <img src="images/team/4.jpg" class="img-circle" alt="">
                                                  </div>
                                                  <div class="sc-name">
                                                      <h4>Oscar Helman</h4>
                                                      <span>Founder & CEO</span>
                                                  </div>
                                                  <div class="sc-info">
                                                      <h3>Close Event Ceremony &amp; Doorprize</h3>
                                                      <p>In this session we will discuss about digital topics in detail. You
                                                          need laptops and other tech support equipment. This session will
                                                          last for 2 hours. So prepare yourself.</p>
                                                  </div>
                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


    </div>
  </div>
</section>
