<section id="sponsor">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeInUp">
                <h2>与我们合作</h2>
                <p class="lead">hack.init()是感受新一代青年人活力与能力的绝佳活动。在hack.init()中，您可以提升品牌形象、发掘绝佳新人才、收获高质量的产品测试与反馈者、宣传您的产品或API。我们正在竭尽所能创造出中国创客马拉松的新巅峰，并无比希望您能参与到我们的伟大任务中来。</p>
                <p class="lead">请阅读我们的项目计划书。如果有意向与我们合作，请发送邮件到 <a href="mailto:sponsorship@hackinit.org">sponsorship@hackinit.org</a> 与我们联系！</p>
                <div class="spacer-single"></div>
                <a href="#" class="btn btn-custom">项目计划书</a>&nbsp;
            </div>
        </div>
    </div>
</section>
