<!-- content begin -->
<div id="#sponsor-list">
    <div class="container relative">
        <div class="row">

            <div class="col-md-12 text-center sequence wow fadeInUp">
                <h3>主办方</h3>
                <div class="spacer-single"></div>
                <img src="//static.hackinit.org/img/thehack/logo/th-64px-c.png" alt="" class="sq-item wow">
                <div class="spacer-single"></div>
            </div>

            <div class="col-md-12 text-center sequence wow fadeInUp">
                <h3>联合主办方</h3>
                <div class="spacer-single"></div>
                <img src="//static.hackinit.org/img/thehack/logo/th-64px-c.png" alt="" class="sq-item wow">
                <div class="spacer-single"></div>
            </div>
        </div>
    </div>
</div>
