<!--
    MAINTAINER: Yuchong Pan
    EMAIL:      panyuchong@gmail.com
-->


<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="https://static.thehack.org.cn/img/thehack/favicon.ico">

        <title if(data.lang==="en")>THE Hack | July 21 - 22, 2018</title>
        <title if(data.lang==="zh")>德·创客马拉松 | 2018年7月21-22日</title>

        <!-- Bootstrap core CSS -->
        <link href="https://static.thehack.org.cn/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="https://getbootstrap.com/docs/4.1/examples/product/product.css" rel="stylesheet">
        <link href="https://static.thehack.org.cn/css/thehack/home/styles.css" rel="stylesheet">
    </head>

    <body>

        <nav class="site-header sticky-top py-1">
            <div class="container d-flex justify-content-center">
                <a class="py-2 d-inline-block" href="#">
                    <img width="30" height="30" src="https://static.thehack.org.cn/img/thehack/logo/th-256px-w.png">
                </a>
            </div>
        </nav>

        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal" if(data.lang==="en")>THE Hack</h1>
                <h1 class="display-4 font-weight-normal" if(data.lang==="zh")>德·创客马拉松</h1>
                <p class="lead font-weight-normal" if(data.lang==="en")>Technology · Harvests · Enlightenment</p>
                <p class="lead font-weight-normal" if(data.lang==="zh")>科技·收获·启蒙</p>
                <a role="button" target="_blank" class="btn btn-lg btn-outline-secondary main-btn" href="https://static.thehack.org.cn/doc/shared/Prospectus-en_US.pdf" if(data.lang==="en")>Prospectus</a>
                <a role="button" target="_blank" class="btn btn-lg btn-outline-secondary main-btn" href="https://static.thehack.org.cn/doc/shared/Prospectus-zh_CN.pdf" if(data.lang==="zh")>项目计划书</a>
                <a role="button" class="btn btn-lg btn-outline-secondary main-btn" href="#hackathons" if(data.lang==="en")>Events</a>
                <a role="button" class="btn btn-lg btn-outline-secondary main-btn" href="#hackathons" if(data.lang==="zh")>活动</a>
            </div>
        </div>

        <div id="hackathons" class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5" if(data.lang==="en")>hack.init() 2018 - Enlightenment</h2>
                    <h2 class="display-5" if(data.lang==="zh")>hack.init() 2018 - 启迪</h2>
                    <p class="lead" if(data.lang==="en")>hack.init() is the premier youth hackathon in China. With a mission to build up the hacker culture in China, hack.init() adopted a tutorial approach that hosted over 20 workshops preevent and at-event, allowing teenagers from age 14 to 20 to get exposed to the latest technology and utilize them during their innovation.</p>
                    <p class="lead" if(data.lang==="zh")>hack.init() 是中国顶尖的⻘年创客⻢拉松。以构建中国创客⽂化为使命，hack.init() 采⽤了基于教程的⽅式，在赛前与赛中举办了超过20场⼯作坊活动，让更多14⾄20岁间的⻘少年了解并应⽤业内先进技术于他们的创意中。</p>
                    <a role="button" target="_blank" class="btn btn-lg btn-outline-secondary sub-btn" href="//hackinit.org" if(data.lang==="en")>Visit hack.init() 2018</a>
                    <a role="button" target="_blank" class="btn btn-lg btn-outline-secondary sub-btn" href="//hackinit.org/zh" if(data.lang==="zh")>访问hack.init() 2018</a>
                </div>
                <img class="sub-logo" src="https://static.thehack.org.cn/img/hackinit/logo/hi-1024px-c.png">
            </div>
            <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5" if(data.lang==="en")>hackShanghai 2018 - Retro</h2>
                    <h2 class="display-5" if(data.lang==="zh")>hackShanghai 2018 - 回归</h2>
                    <p class="lead" if(data.lang==="en")>hackShanghai is the model of innovation and driving force of the current hackathon movement in Asia. Having already had very successful events in 2014 and 2015, HackShanghai has been collaborating with and supporting the development of several major hackathons, including Unique Hack Day, HackNTU and THacks.</p>
                    <p class="lead" if(data.lang==="zh")>hackShanghai（创客上海）是当今亚洲创客⻢拉松运动的创新典范及先驱。于2014及2015年成功举办两场活动，在过去两年中，hackShanghai 已经合作或⽀持了多场⼤型创客⻢拉松，包括 Unique Hack Day（华中科技⼤学）、HackNTU（国⽴⽴台湾⼤学）及THacks（清华⼤学）。</p>
                    <a role="button" target="_blank" class="btn btn-lg btn-outline-secondary sub-btn" href="//hackshanghai.com" if(data.lang==="en")>Visit hackShanghai 2018</a>
                    <a role="button" target="_blank" class="btn btn-lg btn-outline-secondary sub-btn" href="//hackshanghai.com/zh" if(data.lang==="zh")>访问hackShanghai 2018</a>
                </div>
                <img class="sub-logo" src="https://static.thehack.org.cn/img/hackshanghai/logo.png">
            </div>
        </div>

        <footer id="footer" class="container py-5">
            <div class="row">
                <div class="col-12">
                    <img src="https://static.thehack.org.cn/img/thehack/logo/th-256px-c.png" width="30" height="30">
                    <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//static.thehack.org.cn/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
