<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>*|MC:SUBJECT|*</title>
  </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
      <table class="main-body" style="min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%; height: 100%; background-color: #ffffff;" width="100%" height="100%" bgcolor="#ffffff">
        <tr class="row" style="vertical-align: top;" valign="top">
          <td class="main-body-cell" style="background-color: #2c2c2c; padding-top: 50px; padding-bottom: 50px;" bgcolor="#2c2c2c">
            <table class="container" style="font-family: Helvetica, serif; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; height: 0px; width: 90%; max-width: 550px;" width="90%" height="0">
              <tr>
                <td class="container-cell" style="vertical-align: top; font-size: medium; padding-bottom: 50px; padding: 0px 0px 0px 0px;" valign="top">
                  <table class="card" style="min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-bottom: 20px; height: 0px; padding: 5px 5px 0px 5px; margin: 0px 0px 0px 0px;" height="0">
                    <tr>
                      <td class="card-cell" style="background-color: #ffffff; overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="#ffffff" align="center">
                        <img class="c1271" src="https://hackaburg.de/assets/images/mail/header.jpg" style="width: 100%; margin-top: 0px; margin-right: 0px; margin-bottom: 15px; margin-left: 0px; font-size: 50px; color: rgb(120, 197, 214); line-height: 250px; background-color: #ffffff;">
                        <table class="table100 c1357" style="width: 100%; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-collapse: collapse;" width="100%" height="0">
                          <tr>
                            <td class="card-content" style="font-size: 13px; line-height: 20px; color: rgb(111, 119, 125); padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; vertical-align: top; margin: 11px 0px 0px 0px; padding: 10px 20px 20px 20px; width: 100%;" width="100%" valign="top">
                              <h1 class="card-title" style="font-size: 25px; font-weight: 300; color: rgb(68, 68, 68);">{{title}}                       
                                <br data-highlightable="1">
                              </h1>
                              <p class="card-text">{{message}}
                              </p>
                              <table class="c1542" style="margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%;" width="100%">
                                <tr>
                                  <td class="card-footer" id="c1545" style="padding-top: 20px; padding-right: 0px; padding-bottom: 20px; padding-left: 0px;" align="center">
                                    <a class="button" href="{{actionUrl}}" style="font-size: 12px; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; background-color: #9ac017; color: rgb(255, 255, 255); text-align: center; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; font-weight: 700; border-collapse: separate; text-decoration: none; font-style: normal;">{{actionText}}</a>
                                  </td>
                                </tr>
                              </table>
                              <p>
                                Best regards,
                                <br>
                                The Hackaburg Team
                              </p>
                          <table class="c3244" id="c3244" style="width: 100%; margin-top: 10px; margin-bottom: 10px; display: none;" width="100%">
                            <tr>
                              <td class="divider" style="background-color: rgba(0, 0, 0, 0.0980392); height: 1px; margin: 0px 0px 0px 0px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
                              </td>
                            </tr>
                          </table>
                          </td>
                    </tr>
                    <tr>
                      <td id="c7288" style="padding: 20px 0px 20px 20px; background-color: #f7f7f7f7; width: 50%;" width="50%" bgcolor="#f7f7f7f7">
                        <table class="c14597" style="height: auto; margin: 10px auto 0px auto; padding: 5px 5px 5px 5px; width: 100%;" width="100%">
                          <tr>
                            <td class="c14600" style="font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 50%;" width="50%" valign="top">
                              <table class="c4490" style="height: auto; margin: 0px auto 10px auto; padding: 0px 0px 0px 0px; width: 100%;" width="100%">
                                <tr>
                                  <td class="c4493" style="font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 50%;" width="50%" valign="top">
                                    <div class="c4670" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">Hackaburg / R-Tech GmbH
                                      <div>
                                        Franz-Mayer-Straße 1
                                        <br>
                                        93053 Regensburg
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td class="c14604" style="font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 50%;" width="50%" valign="top">
                              Hackaburg on 
                              <a class="c15752" href="https://facebook.com/hackaburg" style="color: #3b97e3;">Facebook</a> &middot;
                              <a class="c15752" href="https://twitter.com/hackaburg" style="color: #3b97e3;">Twitter</a> &middot;
                              <a class="c15752" href="https://instagram.com/hackaburg" style="color: #3b97e3;">Instagram</a>

                              <br>

                              Questions?
                              <a class="c15752" href="mailto:support@hackaburg.de" style="color: #3b97e3;">support@hackaburg.de</a>
                            </td>
                          </tr>
                        </table>
                        <table class="c3244" id="c7280" style="width: 100%; margin-top: 10px; margin-bottom: 10px; display: none;" width="100%">
                          <tr>
                            <td class="divider" style="background-color: rgba(0, 0, 0, 0.0980392); height: 1px; margin: 0px 0px 0px 0px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      </td>
      </tr>
      </table>
    </body>
</html>
