<include("./../../components/layout.marko", data)>

<@css>
    <link rel="stylesheet" href="//static.hackinit.org/css/hackinit/home/banner.css">
</@css>

<@body>
    <div id="banner" class="container-fluid full-width full-height bg-black">
        <img id="main-logo" alt="hack.init()" src="//static.hackinit.org/img/hackinit/logo/hi-1024px-c.png">
    </div>
</@body>

</include>
