#banner {
    position: relative;
    font-family: 'FZXS12';
}

#main-logo {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 550px;
    max-width: 90%;
    top: 50%;
    transform: translateY(-55%);
}

#info {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

#info h1 {
    text-align: right;
    line-height: 35px;
}

#date-text {
    color: rgb(232, 88, 39);
    font-size: 40px;
}

#city-text, #location-text {
    color: white;
    font-size: 35px;
}
