#banner {
    position: relative;
    font-family: 'FZXS12';
}

#main-logo {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 550px;
    max-width: 85%;
    top: 50%;
    transform: translateY(-55%);
}

#info {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

#info h1, #buttons h1 {
    text-align: left;
    font-size: 30px;
}

#info h1 {
    line-height: 35px;
    color: white;
}

#buttons {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

#buttons h1 {
    color: #ccc;
}

.orange-color {
    color: rgb(232, 88, 39) !important;
}

#buttons a, #buttons a:hover, #buttons a:focus, #buttons a:active {
    text-decoration: none;
    outline: none;
}

#wechat-qr {
    width: 300px;
}

@media only screen and (max-width: 991px) {
    #main-logo {
        width: 500px;
        transform: translateY(-65%);
    }
}

@media only screen and (max-width: 767px) {
    #main-logo {
        width: 450px;
        transform: translateY(-70%);
    }
}

@media only screen and (max-width: 499px) {
    #buttons {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #buttons h1 {
        text-align: center;
    }
}
