#faq {
    max-width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#faqs-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.faq {
    margin: 5px auto;
}

.faq-question {
    font-size: 16px;
    padding: 15px 10px;
}
