#host-logos {
    padding-top: 60px;
}

#host-logos, #cohost-logos, #giga-logos, #mega-logos, #kilo-logos, #community-logos {
    padding-bottom: 60px;
}

#media-logos {
    padding-bottom: 75px;
}

.sponsor-partner h2 {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 40px;
    text-align: center;
}

.sponsor-partner .tier {
    text-align: center;
}

.sponsor-partner a {
    opacity: .75;
}

.sponsor-partner a:hover {
    opacity: 1;
    text-decoration: none;
}

.sponsor-partner a img {
    vertical-align: middle;
}

.sponsor-partner .tier a img {
    margin: 2em;
}

.sponsor-partner .tier-sponsor a img {
    max-width: 170px;
}

@media only screen and (max-width: 247px) {
    .sponsor-partner .tier-sponsor a img {
        max-width: calc(100% - 72px);
    }
}

.sponsor-partner .tier-sponsor-1 a img {
    max-width: 250px;
    max-height: 150px;
}

@media only screen and (max-width: 322px) {
    .sponsor-partner .tier-sponsor-1 a img {
        max-width: calc(100% - 72px);
    }
}

.sponsor-partner .tier-sponsor-2 a img {
    max-width: 320px;
    max-height: 140px;
}

@media only screen and (max-width: 392px) {
    .sponsor-partner .tier-sponsor-2 a img {
        max-width: calc(100% - 72px);
    }
}

.sponsor-partner .tier-sponsor-3 a img {
    max-width: 200px;
    max-height: 130px;
}

@media only screen and (max-width: 272px) {
    .sponsor-partner .tier-sponsor-3 a img {
        max-width: calc(100% - 72px);
    }
}

.sponsor-partner .tier-sponsor-4 a img {
    max-width: 145px;
    max-height: 130px;
}

@media only screen and (max-width: 217px) {
    .sponsor-partner .tier-sponsor-4 a img {
        max-width: calc(100% - 72px);
    }
}

.sponsor-partner .tier-sponsor-5 a img {
    max-width: 120px;
    max-height: 120px;
}

@media only screen and (max-width: 192px) {
    .sponsor-partner .tier-sponsor-5 a img {
        max-width: calc(100% - 72px);
    }
}

.sponsor-partner .tier-hardware a img {
    max-width: 120px;
    max-height: 120px;
}

@media only screen and (max-width: 192px) {
    .sponsor-partner .tier-hardware a img {
        max-width: calc(100% - 72px);
    }
}

.sponsor-partner .tier-sponsor-media a img {
    max-width: 145px;
}

@media only screen and (max-width: 217px) {
    .sponsor-partner .tier-sponsor-media a img {
        max-width: calc(100% - 72px);
    }
}

.tier-title, .tier {
    margin: 0 auto;
}
