#sponsor {
    max-width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#become-sponsor {
    font-size: 18px;
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
    color: #e2e6ea;
    text-align: center;
}

#become-sponsor #first-word {
    font-size: 36px;
    font-family: 'FZXS12';
    line-height: 27px;
    color: rgb(232, 88, 39);
}

#become-sponsor a, #become-sponsor a:hover, #become-sponsor a:focus, #become-sponsor a:visited {
    color: lightskyblue;
}

#sponsor-button h1 {
    text-align: center;
    font-size: 30px;
    color: #ccc;
    margin-top: 50px;
}

#sponsor-button a, #sponsor-button a:hover, #sponsor-button a:focus {
    text-decoration: none;
    outline: none;
}
